# Email Configuration
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=info@searchmetric.in
SMTP_PASS="Searchmetric@2026!#?"
CONTACT_EMAIL=info@searchmetric.in

# Site
NEXT_PUBLIC_SITE_URL=https://searchmetric.in

# Optional
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=google2144449448070a10
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX